<form action="/bookmark" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <button class="btn" type="submit">BOOKMARK</button>
    <input type="hidden" name="postId" value="<%= item._id %>">
</form>