<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>OOPS!!!</h1>
    <p>It seems that an error has occurred on our end. Sorry for the inconvenience.</p>

<%- include('includes/end.ejs') %>