.stubs {
  list-style: none;
  padding: 0;
  margin: 0;
}

.stubs__item h1 {
    margin: 0;
    font-size: 1rem;
}

.stubs__item {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  margin-bottom: 1rem;
}

.stubs__post {
    list-style: none;
    margin: 0;
    padding: 0;
}

.stubs__post-item {
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: 1px solid #00695c;
    color: #00695c;
}

.pagination {
  margin-top: 2rem;
  text-align: center;
}

.pagination a {
  text-decoration: none;
  color: brown;
  padding: 0.5rem;
  border: 1px solid brown;
  margin: 0 1rem;
}

.pagination a:hover,
.pagination a:active,
.pagination a.active {
  background: brown;
  color: white;
}
