<form action="/schedule" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <button class="btn" type="submit">Schedule</button>
    <input type="hidden" name="postId" value="<%= post._id %>">
</form>